{% extends "link.html" %}
{%load static %}

    {% block content %}
        {% include 'navbar.html' %}


    <!-- main html tag start -->
    <main>
      <section class="form__section">
        <div class="container form__section-container">
          <h2>Add Category</h2>
          <div class="alert__message error">
            <p>This is an error message</p>
          </div>
          <form action="">
            <input type="text" placeholder="Title" />
            <textarea rows="10" placeholder="Description"></textarea>
            <button type="submit" class="btn">Add Category</button>
          </form>
        </div>
      </section>
    </main>
    <!-- main html tag end -->    

    {% endblock content %}
