{% extends "link.html" %}
{% load static %}

{% block content %}
    {% include 'navbar.html' %}
    <!-- main html tag start -->
    <main>
        <section class="form__section">
            <div class="container form__section-container">
                <h2>Add Post</h2>
                <form method="POST">
                    {% csrf_token %}

                    {{ form }}
                    <input class="btn btn-primary" type="submit" value="Post">
                </form>
            </div>
        </section>
    </main>
    <!-- main html tag end -->
{% endblock content %}


