{% extends "link.html" %}
{%load static %}

    {% block content %}
        {% include 'navbar.html' %}

        
    <!-- main html tag start -->

    <main>
      <section class="search__bar">
        <form action="" class="container search__bar-container">
          <div>
            <i class="fa-solid fa-magnifying-glass"></i>
            <input type="search" name="" placeholder="Search" />
          </div>
          <button type="submit" class="btn">Go</button>
        </form>
      </section>
      <!-- ==========================Posts start here================================ -->
      <section class="posts">
        <div class="container posts__container">
          {% for post in posts %}
          <article class="post">
            <div class="post__thumbnail">
              <img src="{%static 'images/blog1.jpg'%}" alt="" />
            </div>
            <div class="post__info">
              <a href="" class="category__button">Art</a>
              <h3 class="post__title">
                <a href="/"
                  >{{post.title|slice:':30'}} ...</a
                >
              </h3>
              <p class="post__body">
                {{post.description | slice:":120"}}
              </p>
            </div>
            <div class="post__author">
              <div class="post__author-avatar">
                <img src="{%static 'images/avatar1.jpg'%}" alt="" />
              </div>
              <div class="post__author-info">
                <h5>By: Dr.Dre</h5>
                <small>13 Mar 2024</small>
              </div>
            </div>
          </article>
          {% endfor %}

        </div>
      </section>

      <!-- ==========================Category buttons start here================================ -->
      <section class="category__buttons">
        <div class="container category__buttons-container">
          <a href="" class="category__button">Art</a>
          <a href="" class="category__button">Wild Life</a>
          <a href="" class="category__button">Travel</a>
          <a href="" class="category__button">Science & Technology</a>
          <a href="" class="category__button">Food</a>
          <a href="" class="category__button">Music</a>
        </div>
      </section>
      <!-- ==========================Category buttons End here================================ -->
    </main>
    <!-- main html tag end -->
        {% endblock content %}
