{% extends "store/link.html" %}
{%load static %}

    {% block content %}
        {% include 'store/navbar.html' %}
        <h1>test</h1>
    <!-- main html tag start -->
    <main>
      <!-- ==========================featured Start here================================ -->
      <section class="featured">
        <div class="container featured__container">
          <div class="post__thumbnail">
            <img src="{%static 'images/blog1.jpg'%}" alt="" />
          </div>
          <div class="post__info">
            <a href="#" class="category__button">Wild Life</a>
            <h2 class="post__title">
              <a href="post.html"
                >Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                Perspiciatis, ullam.</a
              >
            </h2>
            <p class="post__body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
              inventore quas earum nesciunt exercitationem corporis atque
              asperiores officiis vitae minima aliquam alias excepturi
              blanditiis sunt reiciendis, id hic unde. Aliquid!
            </p>
            <div class="post__author">
              <div class="post__author-avatar">
                <img src="{%static 'images/avatar2.jpg'%}" alt="" />
              </div>
              <div class="post__author-info">
                <h5>By: Jane Doe</h5>
                <small>June 10,2022 - 07:23</small>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- ==========================featured End here================================ -->




      <!-- ==========================Posts start here================================ -->
      <section class="posts">
        <div class="container posts__container">
          {% for post in posts %}
          <article class="post">
            <div class="post__thumbnail">
              <img src="{{post.image.url}}" alt="" />
            </div>
            <div class="post__info">
              <a href="" class="category__button">{{post.category}}</a>
              <h3 class="post__title">
                <a href="post.html"
                  >{{post.title|slice:':30'}} ...</a
                >
              </h3>
              <p class="post__body">
                {{post.description | slice:":120"}}
              </p>
            </div>
            <div class="post__author">
              <div class="post__author-avatar">
                <img src="{%static 'images/avatar1.jpg'%}" alt="" />
              </div>
              <div class="post__author-info">
                <h5>By: {{post.author}}</h5>
                <small>{{post.published_in}}</small>
              </div>
            </div>
          </article>
          {% endfor %}

        </div>
      </section>
      <!-- ==========================Posts End here================================ -->



      
      <!-- ==========================Category buttons start here================================ -->
      <section class="category__buttons">
        <div class="container category__buttons-container">
          <a href="" class="category__button">Art</a>
          <a href="" class="category__button">Wild Life</a>
          <a href="" class="category__button">Travel</a>
          <a href="" class="category__button">Science & Technology</a>
          <a href="" class="category__button">Food</a>
          <a href="" class="category__button">Music</a>
        </div>
      </section>
      <!-- ==========================Category buttons End here================================ -->
    </main>
    <!-- main html tag end -->


    {% endblock content %}
