<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InKsPIRE | Blog for you</title>
    <!-- custom css link here  -->
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/responsive.css" />
    <link rel="stylesheet" href="./css/all.min.css" />
    <link rel="stylesheet" href="./css/fontawesome.min.css" />
  </head>

  <body>
    <!-- header html tag start -->
    <header>
      <!-- ==========================Nav Bar Start here================================ -->
      <nav>
        <div class="container nav__container">
          <a href="index.html" class="nav__logo">InKsPIRE</a>
          <ul class="nav__items">
            <li><a href="blog.html">Blog</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="sginin.html">Sign In</a></li>
            <li class="nav__profile">
              <div class="avatar">
                <img src="./images/avatar1.jpg" />
              </div>
              <ul>
                <li><a href="dashboard.html">Dashboard</a></li>
                <li><a href="logout.html">Logout</a></li>
              </ul>
            </li>
          </ul>

          <button id="open__nav-btn"><i class="fa-solid fa-bars"></i></button>
          <button id="close__nav-btn"><i class="fa-solid fa-xmark"></i></button>
        </div>
      </nav>
      <!-- ==========================Nav Bar end here================================ -->
    </header>
    <!-- header html tag end -->
    <!-- main html tag start -->
    <main>
      <section class="singlepost">
        <div class="container singlepost__container">
          <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit.</h2>
          <div class="post__author">
            <div class="post__author-avatar">
              <img src="./images/avatar2.jpg" alt="" />
            </div>
            <div class="post__author-info">
              <h5>By: Jane Doe</h5>
              <small>June 10,2022 - 07:23</small>
            </div>
          </div>
          <div class="singlepost__thumbnail">
            <img src="./images/blog1.jpg" alt="" />
          </div>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            accusantium aliquid reiciendis amet sapiente nemo. Culpa rerum
            accusantium nemo fuga doloribus hic similique qui nostrum explicabo
            eveniet nam aliquid illo iste delectus quibusdam atque magnam, iure
            dicta? Tempore, voluptatibus esse.
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            accusantium aliquid reiciendis amet sapiente nemo. Culpa rerum
            accusantium nemo fuga doloribus hic similique qui nostrum explicabo
            eveniet nam aliquid illo iste delectus quibusdam atque magnam, iure
            dicta? Tempore, voluptatibus esse.
          </p>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque
            consectetur ad harum, deserunt officia ea excepturi quaerat magnam
            unde veritatis atque. Suscipit, perspiciatis quia! Distinctio animi
            magnam quis soluta doloremque omnis vero ab, dolor asperiores
            accusantium aut pariatur eos numquam odit est reiciendis dicta ipsa
            quod totam amet sunt magni rem enim! Repellendus accusamus corrupti
            unde illum? Consequuntur, sed dicta?
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi
            accusantium aliquid reiciendis amet sapiente nemo. Culpa rerum
            accusantium nemo fuga doloribus hic similique qui nostrum explicabo
            eveniet nam aliquid illo iste delectus quibusdam atque magnam, iure
            dicta? Tempore, voluptatibus esse.
          </p>
        </div>
      </section>

 <!-- ==========================END OF SINGLE POST================================ 





    </main>
    <!-- main html tag end -->
    <!-- footer html tag start -->
    <footer>
      <div class="footer__socials">
        <a href="" target="_blank"><i class="fa-brands fa-facebook"></i></a>
        <a href="" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        <a href="" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        <a href="" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
        <a href="" target="_blank"><i class="fa-brands fa-youtube"></i></a>
      </div>
      <div class="container container__footer">
        <article>
          <h4>Categories</h4>
          <ul>
            <li><a href="">Art</a></li>
            <li><a href="">Wild Life</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Science & Technology</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Music</a></li>
          </ul>
        </article>
        <article>
          <h4>Categories</h4>
          <ul>
            <li><a href="">Art</a></li>
            <li><a href="">Wild Life</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Science & Technology</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Music</a></li>
          </ul>
        </article>
        <article>
          <h4>Categories</h4>
          <ul>
            <li><a href="">Art</a></li>
            <li><a href="">Wild Life</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Science & Technology</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Music</a></li>
          </ul>
        </article>
        <article>
          <h4>Categories</h4>
          <ul>
            <li><a href="">Art</a></li>
            <li><a href="">Wild Life</a></li>
            <li><a href="">Travel</a></li>
            <li><a href="">Science & Technology</a></li>
            <li><a href="">Food</a></li>
            <li><a href="">Music</a></li>
          </ul>
        </article>
      </div>
      <div class="footer__copyright">
        <small>Copyright &copy; 2022 InKsPIRE</small>
      </div>
    </footer>
    <!-- footer html tag end -->

    <script src="./js/main.js"></script>
  </body>
</html>
