{% extends "link.html" %}
{%load static %}
 {%block link%}

 {%endblock link%}

    {% block content %}
{% include 'navbar.html' %}



<section class="featured">
    <center style="margin-bottom:4rem;">
        <h2>Your Profile</h2>
    </center>
    <div class="container featured__container">

        <div class="post__thumbnail">
            <img src="{{user.profilemodel.image.url}}" alt="profile-img" />
        </div>
        <div class="post__info">
            
            <a href="{% url 'editinfo'%}" style="margin-bottom: 1rem; margin-right: .3rem;" class="category__button">Edit info</a>
            <a href="#" style="margin-bottom: 1rem; margin-right: .3rem;" class="category__button">Change password</a>

            <h2 class="post__title" style="margin-bottom:11rem;">
                
                {{ user.first_name }}  {{ user.last_name  }}

            </h2>
            <h3 class="post__title" style="margin-bottom:1rem;">

              {{ user.email }}

            </h3>
            <h3 class="post__title" style="margin-bottom:1rem;">

                {{user.username}}

            </h3>
            <h3 class="post__title" style="margin-bottom:1rem;">

                Address of users

            </h3>

        </div>
    </div>
</section>


<div style="margin-bottom:10rem;"></div>


{% include 'footer.html'%}

{% endblock content %}
